[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CIpostSelect"]
	path = CIpostSelect
	url = https://github.com/diallo0/cipostselect
